*{
    margin: 0;
    padding: 0;
}

header {
    width: 50%;
    height: 150px;
    background-color: brown;
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    

}

main {
    width: 50%;
    height: 620px;
    background-color: palevioletred;
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
}

footer {
    width: 50%;
    height: 150px;
    background-color: brown;
    text-align: center;
    font-size: 24px;
    
}

