body {
    margin: 0;
    padding: 0;
}
.bg {
    height: 900px;
    width: 50%;
    border: 2px solid;
    border-radius: 5px;
    position: relative;
    

}



#b1 {
    position: absolute;
    background-color: yellow;
    right: 10px;
    top:0%
    
    
}